<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>libcore.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>libcore_android.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>libcore_objc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>play_objc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>xctest_runner.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>27847033188DDCDEC2D205A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46748896FBBFEB9C933D99CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7D153639F6773368406EC0ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C57CFD64316509B26F2F908D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBE408DA33327278EE548305</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3FDDB4A31D9375883C28568</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9104CA407C79B3F5FFE4F5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
