<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NextUC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8907A70D1C5485100012F8CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8907A7211C5485100012F8CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8907A72C1C5485100012F8CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
